<section class="cases-section">
  <div class="container">
    <p class="section-subtitle">This is what we do</p>
    <h2 class="section-title">Business Cases</h2>
    <p class="section-second-subtitle">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
      sapiente!
    </p>
    <ul class="cases-list">
      <li class="cases-list-item">
        <img
          src="./img/cases-images/cases-1.jpg"
          alt="Our activities"
          class="cases-list-img"
        />
      </li>
      <li class="cases-list-item">
        <img
          src="./img/cases-images/cases-2.jpg"
          alt="Our activities"
          class="cases-list-img"
        />
      </li>
      <li class="cases-list-item">
        <img
          src="./img/cases-images/cases-3.jpg"
          alt="Our activities"
          class="cases-list-img"
        />
      </li>
      <li class="cases-list-item">
        <img
          src="./img/cases-images/cases-4.jpg"
          alt="Our activities"
          class="cases-list-img"
        />
      </li>
      <li class="cases-list-item">
        <img
          src="./img/cases-images/cases-5.jpg"
          alt="Our activities"
          class="cases-list-img"
        />
      </li>
      <li class="cases-list-item">
        <img
          src="./img/cases-images/cases-6.jpg"
          alt="Our activities"
          class="cases-list-img"
        />
      </li>
    </ul>
  </div>
</section>
