<header class="page-header">
  <div class="container">
    <a href="" class="logo link">
      <img src="./img/logo.svg" alt="logo" class="logo-img" />
      <span class="logo-accent">Finance</span>&nbsp;Ledger
    </a>
    <nav class="nav">
      <ul class="nav-list list">
        <li class="nav-item">
          <a href="" class="nav-link link">Home</a>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link link">About</a>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link link">Cases</a>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link link">Blog</a>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link link">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
