<section class="introduct">
  <div class="container">
    <div class="introduct-image">
      <img src="./img/presentation_img.jpg" alt="presentation image" />
    </div>
    <div class="introduct-information">
      <p class="section-subtitle">What you are looking for</p>
      <h2 class="section-title">We provide bespoke solutions</h2>
      <p class="introduct-text">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate,
        ipsum dignissimos quae laudantium asperiores nam aliquid impedit harum
        illum dolore explicabo ab dolores itaque rerum temporibus doloribus iste
        maiores deleniti?
      </p>
      <a href="" class="link link--read">Read More</a>
    </div>
  </div>
</section>
