:root {
  --c-text-main: #333;
  --c-text-alt: #fff;
  --c-primary: #28a745;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: var(--c-text-main);
  font-size: 18px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ol,
ul {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.link {
  text-decoration: none;
  cursor: pointer;
}

.list {
  list-style-type: none;
}

.container {
  max-width: 1360px;
  margin: 0 auto;
}

.section-subtitle {
  font-size: 20px;
  line-height: 1.65;
}

.section-title {
  font-size: 38px;
  font-weight: 300;
  line-height: 1.26;
}
/*! ------------ HEADER ------------ */
.page-header {
  /* background-color: #2a292c; */
  position: fixed;
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.7)
  );
  left: 0;
  right: 0;
  /* width: 100%; */
}

.page-header .container {
  padding-left: 28px;
  padding-right: 28px;
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  font-size: 35px;
  color: var(--c-text-alt);
  align-items: center;
  line-height: 1.2;
}

.logo-img {
  margin-right: 10px;
  width: 40px;
}

.logo-accent {
  color: var(--c-primary);
}

.nav {
  padding: 20px 0;
}

.nav-list {
  display: flex;
  gap: 40px;
}

.nav-link {
  color: var(--c-text-alt);
}

/*! ------------ MAIN ------------ */

.hero {
  background-color: #2a292c;
  background-image: url('../img/hero-bg.jpg');
  text-align: center;
  padding: 280px 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.main-title {
  color: #e9e9e9;
  text-align: center;
  font-size: 55px;
  font-weight: 300;
  line-height: 1.2;
  /* 66px/55 */
  margin-bottom: 24px;
}

.hero-subtitle {
  color: #e9e9e9;
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.67;
  margin-bottom: 32px;
}

.link-read {
  color: var(--c-text-alt);

  font-size: 18px;
  font-weight: 400;
  line-height: 1.56;
  background-color: var(--c-primary);
  display: inline-flex;
  margin: 0 auto;
  padding: 10px 29px;
}

.link-read-img {
  width: 9px;
}

/*! ------------ FOOTER ------------ */
