.cases-section {
    padding: 80px 0;
}

.cases-section .container{
    padding: 0 28px;
}

.cases-section .section-subtitle{
    text-align: center;
    margin-bottom: 24px;
}

.cases-section .section-title{
    text-align: center;
    margin-bottom: 24px;
}

.section-second-subtitle {
       color: var(--c-text-main);
        text-align: center;
        font-size: 18px;
        line-height: 1.56;
        margin-bottom: 24px;
}

.cases-list {
    display: flex;
    gap: 24px 21px;
    flex-wrap: wrap;

}

.cases-list-item {
    flex-basis: calc((100% - 42px) / 3);
}

.cases-list-img {}