.introduct .container {
  display: flex;
}

.introduct-image {
  flex-shrink: 0;
  max-width: 670px;
}

.introduct-information {
  padding: 80px 20px;
  background-color: var(--c-primary);
}

.introduct-information .section-subtitle {
  color: var(--c-text-alt);
  margin-bottom: 8px;
}

.introduct-information .section-title {
  color: var(--c-text-alt);
  margin-bottom: 24px;
}

.introduct-text {
  line-height: 1.56;
}

.introduct-information .introduct-text {
  color: var(--c-text-alt);
  margin-bottom: 24px;
}

.link--read {
  line-height: 1.56;
  border-radius: 5px;
  border: 1px solid var(--c-text-alt);
  padding: 11px 35px 12px 34px;
  color: var(--c-text-alt);
}
